<div>
  <main>
    <div class="custom-row mb-2 mt-2">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <h1 class="h1">Recover your password</h1>
      </div>
      <div class="col-md-5 right-title"></div>
    </div>

    <div class="custom-row mb-2 mt-2">
      <div class="col-md-1"></div>
      <div class="col-md-6">
        <xds-card>
          <!-- <xds-alert type="success" styleType="primary" [closable]="false">
            Success! Enter your password to sign in.
          </xds-alert> -->
          <div class="d-flex flex-column my-2">
            <xds-input
              label="Email"
              cueText="Use the email you registered with."
              sizeWidth="large"
            ></xds-input>
          </div>
          <div class="text-right mt-2">
            <xds-button type="primary"> Recover password </xds-button>
          </div>
        </xds-card>
      </div>

      <div class="col-md-5 mb-1-half pl-2">
        <div class="d-flex my-2">
          <xds-icon
            icon="information"
            label="information"
            size="2x"
            class="mr-1"
          ></xds-icon>
          <h6 class="mb-0">What's after a password reset?</h6>
        </div>
        <p>
          Once you request to reset your password, we'll email you a secure link
          valid for 24 hours to set a new password.
        </p>
        <p>
          Can't find the email? Check your junk folder or go back and reset your
          password again.
        </p>
        <p>
          Need help?
          <xds-link link="#" class="py-1"> Contact us </xds-link>
        </p>
      </div>
    </div>
  </main>
</div>
